<footer class="bg-dark text-light mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>SecureShop</h5>
        <p>Your trusted e-commerce platform with enterprise-grade security.</p>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/products" class="text-light">Products</a></li>
          <li><a href="/auth/login" class="text-light">Login</a></li>
          <li><a href="/auth/register" class="text-light">Register</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Security</h5>
        <ul class="list-unstyled">
          <li><small>OWASP Compliant</small></li>
          <li><small>Encrypted Transactions</small></li>
          <li><small>Data Protection</small></li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <small>&copy; 2023 SecureShop. All rights reserved. | Built with security
        in mind.</small>
    </div>
  </div>
</footer>